<div class="container">
  <div class="title row">
    <h5 class="col-3 bg-light">会員情報編集</h5>
  </div>
  <%= form_with model: @customer do |f| %>
    <%= render "public/shared/error_messages", resource: @customer %>
    <div class="field row">
      <p class="col-3">名前</p>
      <p class="col-1">(姓)</p>
      <div class="col-3">
        <%= f.text_field :last_name %>
      </div>
      <p class="col-1">(名)</p>
      <div class="col-3">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="field row">
      <p class="col-3">フリガナ</p>
      <p class="col-1">(セイ)</p>
      <div class="col-3">
        <%= f.text_field :last %>
      </div>
      <p class="col-1">(メイ)</p>
      <div class="col-3">
        <%= f.text_field :first %>
      </div>
    </div>



    <div class="field row">
      <p class="col-3">郵便番号(ハイフンなし)</p>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :zip %>
      </div>
    </div>

    <div class="field row">
      <p class="col-3">住所</p>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :address %>
      </div>
    </div>

    <div class="field row">
      <p class="col-3">電話番号(ハイフンなし)</p>
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.text_field :tel %>
      </div>
    </div>

    <div class="field row">
      <p class="col-3">メールアドレス</p><br />
      <div class="col-1"></div>
      <div class="col-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="actions row">
      <div class="col-4">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
      </div>
      <div class="col-3">
        <%= link_to "退会する", confirm_customer_path(@customer.id), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>