<div class="container">
  <div class="row title">
    <h5 class="col-3 bg-light">配送先登録・一覧</h5>
  </div>
  <div>
    <%= form_with model: @address, url: customer_addresses_path do |f| %>
      <div class="row">
        <p class="col-3">郵便番号(ハイフンなし)</p>
        <div class="col-3"><%= f.text_field :zip %></div>
      </div>
      <div class="row">
        <p class="col-3">住所</p>
        <div class="col-3"><%= f.text_field :address %></div>
      </div>
      <div class="row">
        <p class="col-3">宛名</p>
        <div class="col-3"><%= f.text_field :name %></div>
        <div class="col-3 button"><%= f.submit "新規登録", class: 'btn btn-success' %></div>
      </div>
    <% end %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.zip %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td class="buttons">
            <div class="button"><%= link_to "編集する", edit_customer_address_path(address.customer_id, address.id), class: 'btn btn-success' %></div>
            <div class="button"><%= link_to "削除する", customer_address_path(address.customer_id, address.id), method: :delete, class: 'btn btn-danger' %></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>