<div class="container">
  <div class="row title">
    <h5 class="col-3 bg-light">注文情報確認</h5>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(20, 20) %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal %></td>
            </tr>
            <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-bordered">
        <tr>
          <th class="table-light">送料</th>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th class="table-light">商品合計</th>
          <td><%= @sum %></td>
        </tr>
        <tr>
          <th class="table-light">請求金額</th>
          <% @order.total = @order.postage.to_i + @sum %>
          <td><%= @order.total %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h5 class="col-2">支払方法</h5>
    <div class="col-5">
      <%= @order.pay_method_i18n %>
    </div>
  </div>
  <div class="row">
    <h5 class="col-2">お届け先</h5>
    <div class="col-5">
      <%= @order.full_address %>
    </div>
  </div>
  <%= form_with model: @order do |f| %>
    <%= f.hidden_field :zip %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :postage %>
    <%= f.hidden_field :total %>
    <%= f.hidden_field :pay_method %>
    <div class="row actions">
      <%= f.submit "注文を確定する", class: 'btn btn-success', "data-confirm" => "Are you sure？" %>
    </div>
  <% end %>
</div>