<div class="container">
  <div class="row title">
    <h5 class="col-3 bg-light">注文情報入力</h5>
  </div>
  <div>
    <%= form_with model: @order, url: confirm_order_path, method: :get do |f| %>
      <h5>支払方法</h5>
      <div class="row">
        <div class="col-1 text-right">
          <%= f.radio_button :pay_method, "credit_card" %>
        </div>
        <p class="col-3">クレジットカード</p>
      </div>
      <div class="row">
        <div class="col-1 text-right">
          <%= f.radio_button :pay_method, "transfer" %>
        </div>
        <p class="col-3">銀行振込</p>
      </div>


      <h5>お届け先</h5>
      <div>
        <div class="row">
          <div class="col-1 text-right">
            <%= f.radio_button :address_number, 1 %>
          </div>
          <div class="col-10">
            <p>ご自身の住所</p>
            〒<%= current_customer.zip %>
              <%= current_customer.address %><br>
            <%= current_customer.last_name %> <%= current_customer.first_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-1 text-right">
            <%= f.radio_button :address_number, 2 %>
          </div>
          <div class="col-10">
            <p>登録済住所から選択</p>
            <div>
              <%= f.collection_select :address_id, current_customer.addresses, :id, :full_address, include_blank: "選択して下さい" %>
              <!--f.collection_select :どのカラムに保存するか, テーブル（モデル）名.all, :どのカラムから保存させるか, :選択肢として表示するカラム名, include_blank: "選択して下さい" -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-1 text-right">
            <%= f.radio_button :address_number, 3 %>
          </div>
          <div class="col-10">
            <p>新しいお届け先</p>
            <div class="field">
              <p class="col-4">郵便番号(ハイフンなし)</p>
              <%= f.text_field :zip %>
            </div>
            <div class="field">
              <p class="col-4">住所</p>
              <%= f.text_field :address %>
            </div>
            <div class="field">
              <p class="col-4">宛名</p>
              <%= f.text_field :name %>
            </div>
          </div>
        </div>
      </div>
      <div class="row actions">
        <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
