<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="border border-dark ">
        <p class="genre">ジャンル検索</p>
      </div>
      <div class="border border-dark border-top-0">
        <% @genres.each do |genre| %>
          <div class="genre"><%= genre.name %></div>
        <% end %>
      </div>
    </div>
    <div class="col-9 title">
      <div>
        <h5 class="bg-light">商品一覧</h5>
        <p>（全<%= @items.count %>件）</p>
      </div>
      <div class="items">
        <% @items.each do |item| %>
          <div class="item">
            <div class="image">
              <%= image_tag item.get_image(150,150) %>
            </div>
            <div class="field">
              <p>商品名　　</p>
              <div><%= item.name %></div>
            </div>
            <div class="field">
              <p>￥</p>
              <div><%= item.price %></div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>