<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <% if customer_signed_in? %>
        <div class="logo">
          <%= link_to "LOGO", '/' %>
        </div>
        <div class="header-links">
          <div class="header-link">
            <%= link_to "マイページ", customer_path(current_customer.id) %>
          </div>
          <div class="header-link">
            <%= link_to "商品一覧", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "カート", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
          </div>
        </div>
      <% elsif admin_signed_in? %>
        <div class="logo">
          <%= link_to "LOGO", admin_root_path %>
        </div>
        <div class="header-links">
          <div class="header-link">
            <%= link_to "商品一覧", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "会員一覧", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "注文履歴一覧", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "ジャンル一覧", '/' %><!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </div>
        </div>
      <% else %>
        <div class="logo">
          <%= link_to "LOGO", root_path %>
        </div>
        <div class="header-links">
          <div class="header-link">
            <%= link_to "商品一覧", '/' %> <!--リンク先未実装-->
          </div>
          <div class="header-link">
            <%= link_to "新規登録", new_customer_registration_path %>
          </div>
          <div class="header-link">
            <%= link_to "ログイン", new_customer_session_path %>
          </div>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
